.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
